@{
    ViewData["Title"] = "Expenses Page";
}

@model List<Expense>

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <a asp-action="CreateEditExpense" class="btn btn-secondary">Add New</a>

    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model)
            {
                <tr>
                    <td>@expense.Id</td>
                    <td>@expense.Name</td>
                    <td>@expense.Amount</td>
                    <td>
                        <a asp-action="CreateEditExpense" asp-route-id="@expense.Id" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@expense.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
